html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}

/* Reseteo bÃ¡sico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border-style: solid;*/
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}


/*-----------------------------------------------------------------------------------------------*/

/* Estilos del Navbar */
.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: grey;
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-left: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}


.icono_user {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    /* Ajusta el tamaÃ±o del icono */
    color: white;
    /* Cambia el color del icono */
    margin-left: auto;
    outline: none;
    transition: transform 0.3s ease;
}

.icono_user:hover {
    color: #00b4d8;
    /* Cambia el color al pasar el cursor */
    transform: scale(1.1);
    /* Efecto de agrandamiento */
}

/* MenÃº desplegable (oculto por defecto) */
.user-menu-container {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    /* Ajusta segÃºn sea necesario */
    right: 0;
    background-color: #00b4d8;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 165px;
    /* Ajusta el ancho del menÃº */
}

.dropdown-item {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: left;
    font-weight: bold;
}

.dropdown-item svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    /* AÃ±adir un espacio entre el Ã­cono y el texto */
    vertical-align: middle;
    /* Alinear el Ã­cono verticalmente con el texto */
}


.dropdown-item:hover {
    background-color: white;
}

/* Para mostrar el menÃº cuando estÃ¡ activo */
.user-menu-container.active .dropdown-menu {
    display: block;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        /* Ocultar menÃº en mÃ³viles si es necesario */
    }
}

.nav-links a:hover {
    color: #00b4d8;
}

/*---------------------------------------------------------------------*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.general-section {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.titol-vehicle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.rst-btn {
    background: darkgray;
    color: white;
    padding: 0.15rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.rst-btn:hover {
    background: rgb(159, 159, 159);
}

.filt-btn {
    background: darkgray;
    color: white;
    padding: 0.15rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.filt-btn:hover {
    background: rgb(159, 159, 159);
}

.btn {
    background: #00b4d8;
    color: white;
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #0096c7;
}

.nav-menu {
    display: flex;
    z-index: 10;
}

.info-button {
    margin-right: 10px;
    padding-block: 3px;
    padding-inline: 5px;
    border-style: solid;
    border-color: #00b4d8;
    background: #f4f4f9;
    transition: background 0.3s ease;

}

.info-button.active {
    border: none;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    background: #e2e2e6;
    border-color: #00b4d8;

}

.info-button:hover {
    background: #e2e2e6;;
}

.info-section {
    display: none;
}

.info-section.active {
    margin-top: -3px;
    padding: 10px;
    display: block;
    border: solid;
    background: #e2e2e6;;
    border-color: #00b4d8;
}

.filtre {
    display: flex;
    justify-content: space-between;
}

.filt-txt {
    display: flex;
    align-items: center;
    color: darkgrey;
}

.filt-txt select {
    margin-right: 10px;
}

.buttons-nav {
    display: flex;
    align-items: center;
}

.buttons-nav button {
    margin-left: 10px;
}
