/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #444;
    margin-top: 20px;
}

/* Contenedor del formulario */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}


textarea {
    resize: vertical;
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #4cae4c;
}

/* Estilos de campos obligatorios */
input:required, select:required, textarea:required ,p{
    border-color: #ff8800;
}

/* Estilos para el input readonly */
input[readonly] {
    background-color: #eee;
    color: #666;
    cursor: not-allowed;
}

/* Responsividad */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
}
/* Estilo general para los párrafos */
.visualizar-mode p {
    font-size: 16px; /* Tamaño de letra adecuado para lectura */
    line-height: 1.6; /* Espaciado entre líneas */
    margin-bottom: 12px; /* Espaciado inferior entre párrafos */
    color: #4a4a4a; /* Color de texto gris oscuro */
    font-family: Arial, sans-serif; /* Fuente moderna y legible */
    text-align: center;
}

/* Estilo para los títulos en negrita dentro de los párrafos */
.visualizar-mode strong {
    font-weight: bold; /* Negrita para destacar los títulos */
    color: #2c3e50; /* Color más oscuro para títulos */
}

/* Estilo adicional para los valores dentro de los span */
.visualizar-mode span {
    font-style: italic; /* Valores en cursiva para diferenciarlos */
    color: #333; /* Color ligeramente más oscuro para los valores */
}
.cancel-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;

}
.button-container {
    display: flex; /* Usamos Flexbox */
    justify-content: center; /* Centra horizontalmente */
    margin-top: 20px; /* Espaciado superior para separar del contenido anterior */
}

