<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenRoad · Catàleg</title>

    <link rel="stylesheet" href="/css/cataleg.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <script src="/scripts/header.js" defer></script>
    <script src="/scripts/filtres.js" defer></script>

</head>

<body>
<header class="nav-container">
    <nav class="navbar">
        <div class="logo">
            <a class="logo">
                <img src="images/otros/logo_openroad.png" alt=" " class="logo-img" width="55px" height="55px">
            </a>
        </div>

        <ul class="nav-links">
            <li><a th:href="@{/}">Inici</a></li>
            <li><a th:href="@{/cataleg}">Catàleg</a></li>
            <li><a href="#section3">Contacte</a></li>

            <li class="user-menu-container">
                <button class="icono_user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                         class="bi bi-person"
                         viewBox="0 0 16 16">
                        <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                    <a class="username" th:if="${isLogged}" th:text="${nomUsuari}"></a>
                </button>

                <div th:if="${!isLogged}" class="dropdown-menu">
                    <a th:href="@{/login}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                        Login
                    </a>

                    <a th:href="@{/registre}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-add" viewBox="0 0 16 16">
                            <path
                                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                            <path
                                    d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                        </svg>
                        Registre
                    </a>
                </div>

                <div th:if="${isLogged}" class="dropdown-menu">
                    <a th:href="@{/}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                        Perfil
                    </a>

                    <a th:href="@{/logout}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-add" viewBox="0 0 16 16">
                            <path
                                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                            <path
                                    d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                        </svg>
                        Tancar sessió
                    </a>
                </div>

                <script>
                    // Obtener el contenedor del menú de usuario
                    const userButton = document.querySelector('.icono_user');
                    const userMenu = document.querySelector('.user-menu-container');

                    // Agregar evento para mostrar/ocultar el menú al hacer clic en el icono
                    userButton.addEventListener('click', (event) => {
                        userMenu.classList.toggle('active'); // Añadir o quitar la clase 'active'
                        event.stopPropagation(); // Prevenir que el clic se propague y cierre el menú
                    });

                    // Cerrar el menú si se hace clic fuera de él
                    document.addEventListener('click', (event) => {
                        if (!userMenu.contains(event.target)) {
                            userMenu.classList.remove('active'); // Cerrar el menú si el clic está fuera
                        }
                    });
                </script>

            </li>
        </ul>
    </nav>
</header>



  <section id="cars" class="cars-section">

    <div id="sidebar" class="sidebar">
      <form action="/cataleg" method="GET">
        <div id="filtres" class="filtres">
          <button type="button" id="openSidebar"><b>Filtres</button>
        </div>

        <h3>Filtres</h3>

        <hr class="separador">

        <label for="marques"><b>Marques:</b></label>
        <select id="marques" name="marques">
          <option value="">Totes</option>
          <option th:each="marca : ${marques}" th:value="${marca}" th:text="${#strings.capitalize(marca)}"></option>
        </select>
        <hr class="separador">

        <label for="colors"><b>Colors:</b></label>
        <select id="colors" name="colors">
          <option value="">Tots</option>
          <option th:each="color : ${colors}" th:value="${color}" th:text="${color.getValor}"></option>
        </select>

        <hr class="separador">

        <div id="range-filter">
          <label for="dies-range"><b>Dies per reservar:</b></label>

          <div id="range-values">
            <span id="min-value-dies" th:text="'De: ' + ${diaLloguerMin}">1</span> -
            <span id="max-value-dies" th:text="${diaLloguerMax} + ' dies'">31</span>
          </div>

          <div class="rangeslider">
            <input class="min input-ranges" type="range" id="min-dies" name="min-dies"
              th:attr="min=${diaLloguerMin}, max=${diaLloguerMax}, value=${diaLloguerMin}">
            <input class="max input-ranges" type="range" id="max-dies" name="max-dies"
              th:attr="min=${diaLloguerMin}, max=${diaLloguerMax}, value=${diaLloguerMax}, step=1">
          </div>
        </div>

        <hr class="separador">

        <div id="range-filter">
          <label for="dies-range"><b>Preu per dia:</b></label>

          <div id="range-values">
            <span id="min-value-preu" th:text="'De: ' + ${preuDiesMin}">1</span> -
            <span id="max-value-preu" th:text="${preuDiesMax} + ' €'">31</span>
          </div>

          <div class="rangeslider">
            <input class="min input-ranges" type="range" id="min-preu" name="min-preu"
              th:attr="min=${preuDiesMin}, max=${preuDiesMax}, value=${preuDiesMin}">
            <input class="max input-ranges" type="range" id="max-preu" name="max-preu"
              th:attr="min=${preuDiesMin}, max=${preuDiesMax}, value=${preuDiesMax}, step=1">
          </div>
        </div>

        <hr class="separador">

        <div id="range-filter">
          <label for="dies-range"><b>Fiança:</b></label>

          <div id="range-values">
            <span id="min-value-fian" th:text="'De: ' + ${fiancaMin}">1</span> -
            <span id="max-value-fian" th:text="${fiancaMax} + ' €'">31</span>
          </div>

          <div class="rangeslider">
            <input class="min input-ranges" type="range" id="min-fian" name="min-fian"
              th:attr="min=${fiancaMin}, max=${fiancaMax}, value=${fiancaMin}">
            <input class="max input-ranges" type="range" id="max-fian" name="max-fian"
              th:attr="min=${fiancaMin}, max=${fiancaMax}, value=${fiancaMax}, step=1">
          </div>
        </div>

        <hr class="separador">

        <div id="data-radios">
          <div>
            <label for="combustibles">Combustibles:</label>
          </div>
          <label>
            <input type="radio" name="combustibles" value="" checked>
            Tots
          </label>
          <div th:each="combustible : ${combustibles}">
            <label>
              <input type="radio" name="combustibles" th:value="${combustible}"
                th:text="${combustible.getValor}">
            </label>
          </div>
        </div>

        <hr class="separador">

        <div id="data-radios">
          <div>
            <label for="portes">Portes:</label>
          </div>
          <label>
            <input type="radio" name="portes" value="" checked>
            Totes
          </label>
          <div th:each="porta : ${portes}">
            <label>
              <input type="radio" name="portes" th:value="${porta}" th:text="${porta.getValor}">
            </label>
          </div>
        </div>

        <hr class="separador">

        <div id="data-radios">
          <div>
            <label for="places">Plaçes:</label>
          </div>
          <label>
            <input type="radio" name="places" value="" checked>
            Totes
          </label>
          <div th:each="placa : ${places}">
            <label>
              <input type="radio" name="places" th:value="${placa}" th:text="${placa.getValor}">
            </label>
          </div>
        </div>

        <hr class="separador">

        <div id="data-radios">
          <div>
            <label for="caixa-canvis">Caixa de canvis:</label>
          </div>
          <label>
            <input type="radio" name="caixesCanvis" value="" checked>
            Tots
          </label>
          <div th:each="caixa : ${caixesCanvis}">
            <label>
              <input type="radio" name="caixesCanvis" th:value="${caixa}"
                th:text="${#strings.capitalize(caixa.getValor)}">
            </label>
          </div>
        </div>

        <hr class="separador">

        <div id="marxes-radio" style="display: none;">
          <div id="data-radios">
            <div>
              <label for="marxes">Marxes:</label>
            </div>
            <label>
              <input type="radio" name="marxes" value="" checked>
              Totes
            </label>
            <div th:each="marxa : ${marxes}">
              <label>
                <input type="radio" name="marxes" th:value="${marxa}" th:text="${marxa.getValor}">
              </label>
            </div>
          </div>
          <hr class="separador">
        </div>

        <button type="submit" id="applyFilters">Aplicar Filtros</button>
      </form>
    </div>

        <div class="container2">
            <h2 class="titulo text-center mb-4">Catàleg</h2>
            <div class="cars-grid">

                <div th:each="vehicle : ${vehicles}" class="card">
                    <!-- Mostrar la imagen del vehículo -->
                    <img th:src="${vehicle.imageUrl}" alt="Imagen de ${vehicle.nombre}" >
                    <div class="card-body">
                        <h5 class="card-title" th:text="${vehicle.marca} + ' ' + ${vehicle.model}">Mercedes Benz</h5>
                        <div class="car-details"></div>
                        <div class="car-details">
                            <div class="icon">
                                <i class="fas fa-palette" ></i>
                                <span th:text="${vehicle.color.getValor()}"></span>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-gas-pump"></i>
                                <span th:text="${vehicle.combustible.getValor()}"></span>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-gear"></i>
                                <span th:text="${vehicle.caixaCanvis.getValor}"></span>
                            </div>
                        </div>
                        <div class="dades">
                            <p class="diesLLog-text"
                               th:text="'Lloguer: ' + ${vehicle.diesLloguerMinim} + ' - ' + ${vehicle.diesLloguerMaxim} + ' dies'">
                                <!--th:text="${vehicle.localitat}"-->
                            <p class="loc-text">Terrassa</p>
                        </div>
                        <hr>
                        </hr>
                    </div>
                    <div class="dies-box">
                        <p class="dies-text">Dia: </p>
                        <p class="dies" th:text="' ' + ${vehicle.preuDia} + ' €'"></p>
                    </div>
                    <div class="dies-box">
                        <p class="dies-text">Fiança: </p>
                        <p class="dies" th:text="' ' + ${vehicle.fianca} + ' €'"></p>
                    </div>
                    <a th:href="@{/vehicle/{matricula}(matricula=${vehicle.matricula})}" class="btn btn-dark">Veure
                        detalls</a>
                </div>
            </div>

        </div>
        </div>
    </section>

</body>

</html>

<!-- Footer -->
<footer>
    <div class="container">
        <p>&copy; 2024 OpenRoad. Tots els drets reservats.</p>
    </div>
</footer>