<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/CrearVehicle.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>OpenRoad · Crear Vehícle</title>

    <!-- JS HEADER -->
    <script src="/scripts/header.js" defer></script>

    <!-- JS MAPA -->
    <script src="/scripts/selectorCiudades.js" defer></script>

    <!-- Librería de mapas js -->
    <!-- CSS de Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <!-- Script de Leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


</head>
<body>
<header class="nav-container">
    <nav class="navbar">
        <div class="logo">
            <a class="logo">
                <img src="images/otros/logo_openroad.png" alt=" " class="logo-img" width="55px" height="55px">
            </a>
        </div>

        <ul class="nav-links">
            <li><a href="#section1">Inici</a></li>
            <li><a th:href="@{/cataleg}">Catàleg</a></li>
            <li><a href="#section3">Contacte</a></li>

            <li class="user-menu-container">
                <button class="icono_user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                    <a class="username" th:if="${isLogged}" th:text="${nomUsuari}"></a>
                </button>
            </li>
        </ul>
    </nav>
</header>

<div class="container mt-5">
    <h2>Crear Vehicle</h2>
    <form th:action="@{/agent/crear}" th:object="${vehicle}" method="post" enctype="multipart/form-data">
        <!-- Matricula -->
        <div class="mb-3">
            <label for="matricula" class="form-label">Matrícula</label>
            <input type="text" class="form-control" id="matricula"  name="matricula" required>
        </div>

        <!-- Marca -->
        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" name="marca" required>
        </div>

        <!-- Modelo -->
        <div class="mb-3">
            <label for="model" class="form-label">Model</label>
            <input type="text" class="form-control" id="model" name="model" required>
        </div>

        <!-- Combustible -->
        <div class="mb-3">
            <label for="combustible" class="form-label">Combustible</label>
            <select class="form-control" id="combustible" name="combustible" required>
                <option value="" disabled selected>Seleccioneu un combustible</option>
                <option th:each="combustible : ${T(com.copernic.projecte2_openroad.model.enums.Combustible).values()}"
                        th:value="${combustible}" th:text="${combustible.valor}"></option>
            </select>
        </div>


        <!-- Color -->
        <div class="mb-3">
            <label for="color" class="form-label">Color</label>
            <select class="form-control" id="color" name="color" required>
                <option value="" disabled selected>Seleccioneu un color</option>
                <option th:each="color : ${T(com.copernic.projecte2_openroad.model.enums.Color).values()}"
                        th:value="${color}" th:text="${color.valor}"></option>
            </select>
        </div>



        <!-- Lugares -->
        <div class="mb-3">
            <label for="places" class="form-label">Places</label>
            <select class="form-control" id="places" name="places" required>
                <option value="" disabled selected>Seleccioneu les places del vehicle</option>
                <option value="DOS">2</option>
                <option value="TRES">3</option>
                <option value="QUATRE">4</option>
                <option value="CINC">5</option>
                <option value="SET">7</option>
            </select>
        </div>

        <!-- Puertas -->
        <div class="mb-3">
            <label for="portes" class="form-label">Portes</label>
            <select class="form-control" id="portes" name="portes" required>
                <option value="" disabled selected>Seleccioneu les portes del vehicle</option>
                <option value="TRES">3</option>
                <option value="CINC">5</option>
            </select>
        </div>

        <!-- Caja de cambios -->
        <div class="mb-3">
            <label for="caixaCanvis" class="form-label">Caixa de canvis</label>
            <select class="form-control" id="caixaCanvis" name="caixaCanvis" required>
                <option value="" disabled selected>Seleccioneu la caixa de canvis</option>
                <option value="MANUAL">Manual</option>
                <option value="AUTOMATIC">Automàtic</option>
            </select>
        </div>

        <!-- Marchas -->
        <div class="mb-3">
            <label for="marxes" class="form-label">Marxes</label>
            <select class="form-control" id="marxes" name="marxes" required>
                <option value="" disabled selected>Seleccioneu marxes del vehicle</option>
                <option value="CINC">5</option>
                <option value="SIS">6</option>
            </select>
        </div>

        <!-- Año del vehículo -->
        <div class="mb-3">
            <label for="anyVehicle" class="form-label">Any de matriculació</label>
            <input type="number" class="form-control" id="anyVehicle" name="anyVehicle" min="1998" max="2024" required>
        </div>

        <!-- Precio por hora -->
        <div class="mb-3">
            <label for="preuDia" class="form-label">Preu per dia</label>
            <input type="number" step="0.5" class="form-control" id="preuDia" name="preuDia" min="3" required>
        </div>

        <!-- Fianza -->
        <div class="mb-3">
            <label for="fianca" class="form-label">Fiança</label>
            <input type="number" step="0.5" class="form-control" id="fianca" name="fianca" min="3" required>
        </div>

        <!-- Kilómetros -->
        <div class="mb-3">
            <label for="km" class="form-label">Quilòmetre</label>
            <input type="number" class="form-control" id="km" name="km" min="0" max="750000">
        </div>

        <!-- Días de alquiler mínimo -->
        <div class="mb-3">
            <label for="diesLloguerMinim" class="form-label">Dies de lloguer mínim</label>
            <input type="number" class="form-control" id="diesLloguerMinim" name="diesLloguerMinim" min="1" max="31">
        </div>

        <!-- Días de alquiler máximo -->
        <div class="mb-3">
            <label for="diesLloguerMaxim" class="form-label">Dies de lloguer màxim</label>
            <input type="number" class="form-control" id="diesLloguerMaxim" name="diesLloguerMaxim" min="1" max="31">
        </div>

        <!-- Campo para subir imagen -->
        <div class="mb-3">
            <label for="imagen" class="form-label">Imatge del vehicle</label>
            <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*" required>
        </div>

        <!-- Botón de búsqueda con tipo "button" -->
        <div class="map-container">
            <label for="direccion">Introdueix una adreça:</label>
            <input type="text" id="direccion" placeholder="Exemple: Gran Via, Madrid, Espanya" />
            <button id="buscar" type="button">Buscar</button>
            <p id="error" style="color: red; display: none;">No s'ha pogut trobar l'adreça.</p>
            <div id="map" style="width: 100%; height: 400px; margin-top: 20px;"></div>
        </div>

        <!-- Botón de Crear Vehicle -->
        <button type="submit" class="btn btn-primary">Crear Vehicle</button>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<!-- Footer -->
<footer>
    <div class="container">
        <p>&copy; 2024 OpenRoad. Tots els drets reservats.</p>
    </div>
</footer>
