<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard · Agent</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboardAgent.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/header.css">
    <script src="/scripts/header.js" defer></script>
    <script src="/scripts/dashboardAgent.js" defer></script>



</head>

<body>
    <header class="nav-container">
        <nav class="navbar">
            <div class="logo">
                <a class="logo">
                    <img src="/images/otros/logo_openroad.png" alt=" " class="logo-img" width="55px" height="55px">
                </a>
            </div>

            <ul class="nav-links">
                <li><a th:href="@{/}">Inici</a></li>
                <li><a th:href="@{/cataleg}">Catàleg</a></li>
                <li><a href="#section3">Contacte</a></li>

                <li class="user-menu-container">
                    <button class="icono_user">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                            class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        </svg>
                        <a class="username" th:if="${isLogged}" th:text="${nomUsuari}"></a>
                    </button>

                    <div th:if="${!isLogged}" class="dropdown-menu">
                        <a th:href="@{/login}" class="dropdown-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                                <path fill-rule="evenodd"
                                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                            </svg>
                            Login
                        </a>

                        <a th:href="@{/registre}" class="dropdown-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-add" viewBox="0 0 16 16">
                                <path
                                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                <path
                                    d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                            </svg>
                            Registre
                        </a>
                    </div>

                    <div th:if="${isLogged}" class="dropdown-menu">
                        <a th:href="@{/}" class="dropdown-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                                <path fill-rule="evenodd"
                                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                            </svg>
                            Perfil
                        </a>
                        <div th:if="${isAgent}">
                            <a th:href="@{/agent/dashboard}" class="dropdown-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                </svg>
                                Dashboard
                            </a>
                        </div>
                        <div th:if="${isAdmin}">
                            <a th:href="@{/admin/dashboard}" class="dropdown-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                </svg>
                                Dashboard
                            </a>
                        </div>
                        <a th:href="@{/logout}" class="dropdown-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-add" viewBox="0 0 16 16">
                                <path
                                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                <path
                                    d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                            </svg>
                            Tancar sessió
                        </a>
                    </div>

                    <script>
                        // Obtener el contenedor del menú de usuario
                        const userButton = document.querySelector('.icono_user');
                        const userMenu = document.querySelector('.user-menu-container');

                        // Agregar evento para mostrar/ocultar el menú al hacer clic en el icono
                        userButton.addEventListener('click', (event) => {
                            userMenu.classList.toggle('active'); // Añadir o quitar la clase 'active'
                            event.stopPropagation(); // Prevenir que el clic se propague y cierre el menú
                        });

                        // Cerrar el menú si se hace clic fuera de él
                        document.addEventListener('click', (event) => {
                            if (!userMenu.contains(event.target)) {
                                userMenu.classList.remove('active'); // Cerrar el menú si el clic está fuera
                            }
                        });
                    </script>

                </li>
            </ul>
        </nav>
    </header>

    <section id="general" class="general-section">

        <h3 th:text="'Dashboard · ' + ${nomUsuari}"></h3>
        <div class="nav-menu">
            <div id="car-btn" class="info-button">
                Vehicles
            </div>
            <div id="res-btn" class="info-button">
                Reserves
            </div>
            <div id="inc-btn" class="info-button">
                Incidències
            </div>
        </div>

        <section id="cars" class="info-section">
            <div class="titol-vehicle">
                <h2>Llista de Vehicles</h2>
                <div class="buttons-nav">
                    <form action="/agent/dashboard">
                        <button type="submit" id="resetFilters" class="rst-btn">Reset</button>
                    </form>
                    <button id="applyFilters" class="filt-btn">Filtrar</button>
                    <form th:action="@{/agent/crear_vehicle}" method="get">
                        <button type="submit" class="btn btn-dark">Crear un vehicle</button>
                    </form>
                </div>

            </div>

            <table class="table table-bordered">
                <form id="filtres-form" action="/agent/dashboard">
                    <thead>
                        <tr>
                            <th>
                                <div class="filtre">
                                    Matricula
                                    <div class="filt-txt">Cercar:
                                        <input type="text" class="filt-input" name="matricula">
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="filtre">
                                    Estat
                                    <div class="filt-txt">
                                        <select id="estats" name="estats" class="filt-sel">
                                            <option value="">-</option>
                                            <option th:each="estat : ${estatsVehicle}" th:value="${estat}"
                                                    th:text="${#strings.capitalize(estat)}"></option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="filtre">
                                    Marca / Model
                                    <div class="filt-txt">Marca:
                                        <select id="marques" name="marques">
                                            <option value="">-</option>
                                            <option th:each="marca : ${marques}" th:value="${marca}"
                                                th:text="${#strings.capitalize(marca)}"></option>
                                        </select>
                                        Model:
                                        <select id="models" name="models">
                                            <option value="">-</option>
                                            <option th:each="model : ${models}" th:value="${model}"
                                                th:text="${#strings.capitalize(model)}"></option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>Preu Dia</th>
                            <th>Fiança</th>
                            <th>Accions</th>
                            <th>Canviar Estat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vehicle : ${vehicles}">
                            <td th:text="${vehicle.matricula}"></td>
                            <td th:text="${vehicle.estatVehicle}"></td>
                            <td th:text="${vehicle.marca} + ' ' + ${vehicle.model}"></td>
                            <td th:text="${vehicle.preuDia}"></td>
                            <td th:text="${vehicle.fianca}"></td>

                            <td>
                                <a class="btn btn-info"
                                    th:href="@{/agent/vehicle/{matricula}(matricula=${vehicle.matricula})}">Info</a>
                                <a class="btn btn-success"
                                    th:href="@{/agent/edit/vehicle/{matricula}(matricula=${vehicle.matricula})}">Editar</a>
                                <a class="btn btn-danger"
                                    th:href="@{/agent/delete/vehicle/{matricula}(matricula=${vehicle.matricula})}">Borrar</a>
                            </td>
                            <td>
                                <a class="btn btn-success"
                                    th:href="@{/agent/activar/vehicle/{matricula}(matricula=${vehicle.matricula})}">Activar</a>
                                <a class="btn btn-danger"
                                    th:href="@{/agent/desactivar/vehicle/{matricula}(matricula=${vehicle.matricula})}">Desactivar</a>
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </section>

        <section id="res" class="info-section">
            <h2>Llista de Reserves</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID Reserva</th>
                        <th>Estat</th>
                        <th>Data Inici</th>
                        <th>Data Final</th>
                        <th>Preu Complert</th>
                        <th>Client</th>
                        <th>Vehicle</th>
                        <th>Activar Reserva</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reserva : ${reserves}">
                        <td th:text="${reserva.idReserva}"></td>
                        <td th:text="${reserva.estatReserva}"></td>
                        <td th:text="${reserva.fechaRecogida}"></td>
                        <td th:text="${reserva.fechaEntrega}"></td>
                        <td th:text="${reserva.preuComplert}"></td>
                        <td th:text="${reserva.client.dni}"></td>
                        <td th:text="${reserva.vehicle.matricula}"></td>
                        <td>
                        <a class="btn btn-edit"
                           th:href="@{/agent/activateUser/{idReserva}(idReserva=${reserva.idReserva})}">Activar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="inc" class="info-section">
            <h2>Llista d'Incidències</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID Incidència</th>
                        <th>Estat</th>
                        <th>Títol</th>
                        <th>Cost</th>
                        <th>Data Inici</th>
                        <th>Data Final</th>
                        <th>Vehicle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="incidencia : ${incidencies}">
                        <td th:text="${incidencia.idIncidencia}"></td>
                        <td th:text="${incidencia.estatIncidencia} + ' ' + ${vehicle.model}"></td>
                        <td th:text="${incidencia.titolInc}"></td>
                        <td th:text="${incidencia.cost}"></td>
                        <td th:text="${incidencia.dataInici}"></td>
                        <td th:text="${incidencia.dataFinal}"></td>
                        <td th:text="${incidencia.vehicle}"></td>
                    </tr>
                </tbody>
            </table>
        </section>

    </section>

</body>

</html>