<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboardAdmin.css">
    <script src="/scripts/dashboardAdmin.js" defer></script>
</head>

<body>
    <header class="nav-container">
        <nav class="navbar">
            <div class="logo">
                <a class="logo">
                    <img src="/images/otros/logo_openroad.png" alt="Logo" class="logo-img" width="55px" height="55px">
                </a>
            </div>
            <h1>Dashboard</h1>
            <ul class="nav-links">
                <li><a href="/">Inici</a></li>
                <li><a href="/cataleg">Catàleg</a></li>
                <li><a href="#section3">Contacte</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <br>
            <h2>Lista de Agentes</h2>
            <div class="buttons-nav">
                <form action="/admin/dashboard">
                    <button type="submit" id="resetFilters" class="rst-btn">Reset</button>
                </form>
                <button id="applyFiltersAgent" class="filt-btn">Filtrar</button>
                <form action="/admin/newAgent" method="get">
                    <button type="submit" class="btn btn-primary">Crear un agent</button>
                </form>
            </div>
            <table class="table table-bordered">
                <form id="filtres-form-agent" action="/admin/dashboard">
                    <thead>
                        <tr>
                            <th>
                                <div class="filtre">
                                    DNI
                                    <div class="filt-txt">Cercar:
                                        <input type="text" class="filt-input" name="dni">
                                    </div>
                                </div>
                            </th>
                            <th>Nombre</th>
                            <th>Cognoms</th>
                            <th>Nom usuari</th>
                            <th>
                                <div class="filtre">
                                    Correu Electrònic
                                    <div class="filt-txt">Cercar:
                                        <input type="email" class="filt-input" name="email">
                                    </div>
                                </div>
                            </th>
                            <th>Teléfon</th>
                            <th>Codi Postal</th>
                            <th>Direcció</th>
                            <th>
                                <div class="filtre">
                                    Nacionalitat
                                    <div class="filt-txt">
                                        <select id="paisosAgent" name="paisosAgent">
                                            <option value="">-</option>
                                            <option th:each="pais : ${paisosAgent}" th:value="${pais}"
                                                th:text="${pais.getValor}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="agent : ${agents}">
                            <td th:text="${agent.dni}"></td>
                            <td th:text="${agent.nom}"></td>
                            <td th:text="${agent.cognom1}"></td>
                            <td th:text="${agent.nomUsuari}"></td>
                            <td th:text="${agent.email}"></td>
                            <td th:text="${agent.numContacte1}"></td>
                            <td th:text="${agent.codiPostal}"></td>
                            <td th:text="${agent.adreca}"></td>
                            <td th:text="${agent.pais}"></td>
                            <td>
                                <a class="btn btn-success"
                                    th:href="@{/admin/editarAgent/{nomUsuari}(nomUsuari=${agent.nomUsuari})}">Editar</a>
                                <a class="btn btn-danger"
                                    th:href="@{/admin/delete/agent/{nomUsuari}(nomUsuari=${agent.nomUsuari})}">Esborrar</a>
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </section>

        <section>
            <h2>Llista de Clients</h2>
            <div class="buttons-nav">
                <form action="/admin/dashboard">
                    <button type="submit" id="resetFilters" class="rst-btn">Reset</button>
                </form>
                <button id="applyFiltersClient" class="filt-btn">Filtrar</button>
                <form action="/registre" method="get">
                    <button type="submit" class="btn btn-primary">Crear un client</button>
                </form>
            </div>
            <table class="table table-bordered">
                <form id="filtres-form-client" action="/admin/dashboard">
                    <thead>
                        <tr>
                            <th>
                                <div class="filtre">
                                    DNI
                                    <div class="filt-txt">Cercar:
                                        <input type="text" class="filt-input" name="dniClient">
                                    </div>
                                </div>
                            </th>
                            <th>Nom</th>

                            <th>
                                <div class="filtre">
                                    Cognom
                                    <div class="filt-txt">Cercar:
                                        <input type="text" class="filt-input" name="cognom1">
                                    </div>
                                </div>
                            </th>
                            <th>Nom usuari</th>
                            <th>
                                <div class="filtre">
                                    Correu Electrònic
                                    <div class="filt-txt">Cercar:
                                        <input type="email" class="filt-input" name="emailClient">
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="filtre">
                                    Telefón
                                    <div class="filt-txt">Cercar:
                                        <input type="text" class="filt-input" name="numContacte">
                                    </div>
                                </div>
                            </th>
                            <th>Codi Postal</th>
                            <th>Direcció</th>
                            <th>
                                <div class="filtre">
                                    Nacionalitat
                                    <div class="filt-txt">
                                        <select id="paisosClient" name="paisClient">
                                            <option value="">-</option>
                                            <option th:each="pais : ${paisosClient}" th:value="${pais}"
                                                th:text="${pais.getValor}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>Estat</th>
                            <th>Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="client : ${clients}">
                            <td th:text="${client.dni}"></td>
                            <td th:text="${client.nom}"></td>
                            <td th:text="${client.cognom1}"></td>
                            <td th:text="${client.nomUsuari}"></td>
                            <td th:text="${client.email}"></td>
                            <td th:text="${client.numContacte1}"></td>
                            <td th:text="${client.codiPostal}"></td>
                            <td th:text="${client.adreca}"></td>
                            <td th:text="${client.pais}"></td>
                            <td th:text="${client.enabled}"></td>
                            <td>
                                <a class="btn btn-success"
                                    th:href="@{/admin/edit/{nomUsuari}(nomUsuari=${client.nomUsuari})}">Editar</a>
                                <a class="btn btn-danger"
                                    th:href="@{/admin/delete/client/{nomUsuari}(nomUsuari=${client.nomUsuari})}">Esborrar</a>
                                <a class="btn btn-edit"
                                    th:href="@{/admin/activateUser/{nomUsuari}(nomUsuari=${client.nomUsuari})}">Activar</a>
                                <a class="btn btn-primary"
                                    th:href="@{'/admin/edit/' + ${client.nomUsuari} + '?visualizar=true'}">Visualitzar</a>
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </section>

        <section>
            <h2>Llista de Reserves</h2>
            <div class="buttons-nav">
                <form action="/admin/dashboard">
                    <button type="submit" id="resetFilters" class="rst-btn">Reset</button>
                </form>
                <button id="applyFiltersClient" class="filt-btn">Filtrar</button>

            </div>
            <table class="table table-bordered">
                <form id="filtres-form-client" action="/admin/dashboard">
                    <thead>
                        <tr>
                            <th>Id Reserva</th>
                            <th>Dni Client</th>
                            <th>Matricula del Vehicle</th>
                            <th>Data Inici</th>
                            <th>Data Final</th>
                            <th>Estat de la Reserva</th>
                            <th>Preu Total</th>
                            <th>Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="reserva : ${reservas}">
                            <td th:text="${reserva.idReserva}"></td>
                            <td th:text="${reserva.client.dni}"></td>
                            <td th:text="${reserva.vehicle.matricula}"></td>
                            <td th:text="${reserva.fechaEntrega}"></td>
                            <td th:text="${reserva.fechaRecogida}"></td>
                            <td th:text="${reserva.estatReserva}"></td>
                            <td th:text="${reserva.preuComplert}"></td>
                        </tr>
                    </tbody>
                </form>
            </table>

            <h2>Llista de Localitats</h2>
            <form class="button-container" action="/admin/crear_localitzacio" method="get">
                <button type="submit" class="btn btn-primary">Crear una localitat</button>
            </form>
            <table class="table table-bordered">
                <form id="filtres-form-client" action="/admin/dashboard">
                    <thead>
                        <tr>
                            <th>Codi postal</th>
                            <th>Direcció</th>
                            <th>Horari d'apertura</th>
                            <th>Horari de Tancament</th>
                            <th>Nom del lloc</th>
                            <th>Població</th>
                            <th>Estat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="localitat : ${localitats}">
                            <td th:text="${localitat.codiPostalLoc}"></td>
                            <td th:text="${localitat.direccio}"></td>
                            <td th:text="${localitat.horariApertura}"></td>
                            <td th:text="${localitat.horariTancada}"></td>
                            <td th:text="${localitat.local}"></td>
                            <td th:text="${localitat.poblacio}"></td>
                            <td th:text="${localitat.estatLocalitat}"></td>
                            <td>
                                <a class="btn btn-success"
                                    th:href="@{/admin/modificar-localitat/{codiPostalLoc}(codiPostalLoc=${localitat.codiPostalLoc})}">Editar</a>
                                <div th:if="${teVehicles}">
                                    <p class="teVehicles">Aquesta Localitat té Vehicles o està Assignada!</p>
                                </div>
                                <a class="btn btn-danger"
                                        th:href="@{/admin/delete/{codiPostalLoc}(codiPostalLoc=${localitat.codiPostalLoc})}">Esborrar</a>

                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </section>
    </main>
</body>

</html>