<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editar Incidencia</title>
</head>
<body>
<div class="container mt-5">
  <h2>Editar Incidència</h2>

  <!-- Formulario -->
  <form th:action="@{/agent/guardar_incidencia}" th:object="${incidencia}" method="post">

  <!-- Campo oculto para el ID de la incidencia -->
    <input type="hidden" th:field="*{idIncidencia}" />

    <!-- Título -->
    <div class="mb-3">
      <label for="titol" class="form-label">Títol</label>
      <input type="text" th:field="*{titol}" class="form-control" id="titol" placeholder="Ingrese el título" required />
    </div>

    <!-- Coste -->
    <div class="mb-3">
      <label for="cost" class="form-label">Cost</label>
      <input type="number" th:field="*{cost}" class="form-control" id="cost" placeholder="Ingrese el coste" required />
    </div>

    <!-- Fecha de Inicio -->
    <div class="mb-3">
      <label for="dataInici" class="form-label">Data d'Inici</label>
      <input type="date" th:field="*{dataInici}" class="form-control" id="dataInici" required />
    </div>

    <!-- Fecha Final -->
    <div class="mb-3">
      <label for="dataFinal" class="form-label">Data Final</label>
      <input type="date" th:field="*{dataFinal}" class="form-control" id="dataFinal" />
    </div>

    <!-- Seleccionar Vehículo -->
    <div class="mb-3">
      <label for="vehicles" class="form-label">Vehicle</label>
      <select id="vehicles" th:field="*{vehicle.matricula}" class="form-control" required>
        <option value="" disabled selected>Seleccioni un vehicle</option>
        <option th:each="vehicle : ${vehicles}"
                th:value="${vehicle.matricula}"
                th:text="${vehicle.marca + ' ' + vehicle.model}"
                th:selected="${vehicle.matricula == incidencia.vehicle?.matricula}">
        </option>
      </select>
    </div>

    <!-- Estado -->
    <div class="mb-3">
      <label for="estatIncidencia" class="form-label">Estat</label>
      <select id="estatIncidencia" th:field="*{estatIncidencia}" class="form-control" required>
        <option value="" disabled>Seleccioni un estat</option>
        <option th:each="estat : ${T(com.copernic.projecte2_openroad.model.enums.EstatIncidencia).values()}"
                th:value="${estat}"
                th:text="${estat.valor}"
                th:selected="${estat.name() == incidencia.estatIncidencia?.name()}">
        </option>

      </select>
    </div>

    <!-- Botón Guardar -->
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Actualitzar</button>
    </div>
  </form>
</div>
</body>
</html>
