<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/CrearAgente.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Librería de mapas js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <title>Crear Agent</title>
    <script>
        // Mostrar u ocultar campos para nueva localidad según selección
        function handleLocalitatChange() {
            const localitatSelect = document.getElementById('localitat-select');
            const newLocalitatFields = document.getElementById('new-localitat-fields');
            if (localitatSelect.value === "new") {
                newLocalitatFields.style.display = "block";
            } else {
                newLocalitatFields.style.display = "none";
            }
        }
    </script>
</head>

<body>
<h1>Crear Agent</h1>
<form th:action="@{/admin/new}" th:object="${agent}" method="POST">
    <!-- DNI -->
    <label for="dni">DNI:</label>
    <input type="text" id="dni" th:field="*{dni}" required>

    <!-- Nom -->
    <label for="nom">Nom:</label>
    <input type="text" id="nom" th:field="*{nom}" required>

    <!-- Cognom 1 -->
    <label for="cognom1">Primer Cognom:</label>
    <input type="text" id="cognom1" th:field="*{cognom1}" required>

    <!-- Num Contacte 1 -->
    <label for="numContacte1">Numero de contacte:</label>
    <input type="tel" id="numContacte1" th:field="*{numContacte1}" required>

    <!-- Pais -->
    <label>
        <span>Nacionalitat</span>
        <select class="input" th:field="*{pais}" id="pais" required>
            <option value="" disabled selected hidden></option>
            <option class="inp_pais" th:each="pais : ${paisos}" th:value="${pais}" th:text="${pais.getValor()}"></option>
        </select>
    </label>

    <!-- Email -->
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required>

    <!-- Contrasenya -->
    <label for="contrasenya">Contrasenya:</label>
    <input type="password" id="contrasenya" th:field="*{contrasenya}" required>

    <!-- Selector de Localidad -->
    <label for="localitat-select">Localitat:</label>
    <select id="localitat-select" name="localitatOption" onchange="handleLocalitatChange()" required>
        <option value="" disabled selected hidden>Seleccionar una opción</option>
        <option value="">Sense localitat</option>
        <option th:each="loc : ${localitats}" th:value="${loc.codiPostalLoc}" th:text="${loc.codiPostalLoc} + ' ' + ${loc.poblacio}"></option>
        <option value="new">Crear nova localitat</option>
    </select>

    <!-- Campos para nueva localidad -->
    <div id="new-localitat-fields" style="display: none; margin-top: 20px;">
        <h3>Crear Nueva Localidad</h3>

        <!-- Codi Postal -->
        <label for="codiPostal">Codi Postal:</label>
        <input type="number" id="codiPostal" th:field="*{localitat.codiPostalLoc}">

        <!-- Població -->
        <label for="poblacio">Població:</label>
        <input type="text" id="poblacio" th:field="*{localitat.poblacio}">

        <!-- Direcció -->
        <label for="direccio">Direcció:</label>
        <input type="text" id="direccio" th:field="*{localitat.direccio}" placeholder="Exemple: Gran Via, Madrid, Espanya" />

        <!-- Local -->
        <label for="local">Local:</label>
        <input type="text" id="local" th:field="*{localitat.local}" placeholder="Garatge">

        <!-- Horari -->
        <label for="horari">Horari:</label>
        <input type="time" id="horariApertura" th:field="*{localitat.horariApertura}">
        <input type="time" id="horariTancada" th:field="*{localitat.horariTancada}">
    </div>

    <div>
        <button type="submit">Crear Agent</button>
    </div>
</form>
</body>

</html>
