<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Cliente</title>
  <link rel="stylesheet" th:href="@{/css/ModificarPerfilAdmin.css}"> <!-- Cambia el enlace al CSS según tu proyecto -->
</head>
<body>

<h1>Editar Client</h1>

<!-- Formulario de edición -->
<form th:action="@{/admin/edit}" th:object="${cliente}" method="post">
  <!-- Identificador oculto del usuario -->
  <input type="hidden" name="nomUsuari" th:value="${cliente.nomUsuari}">

  <div>
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" th:value="${cliente.nom}" placeholder="Ingrese el nombre">
  </div>

  <div>
    <label for="cognom1">Primer Cognom:</label>
    <input type="text" id="cognom1" name="cognom1" th:value="${cliente.cognom1}" placeholder="Ingrese el primer apellido">
  </div>


  <div>
    <label for="numContacte1">Número de Contacte:</label>
    <input type="text" id="numContacte1" name="numContacte1" th:value="${cliente.numContacte1}" placeholder="Ingrese el número de contacto">
  </div>

  <div>
    <label for="codiPostal">Codi Postal:</label>
    <input type="text" id="codiPostal" name="codiPostal" th:value="${cliente.codiPostal}" placeholder="Ingrese el código postal">
  </div>

  <div>
    <label for="adreca">Direcció:</label>
    <input type="text" id="adreca" name="adreca" th:value="${cliente.adreca}" placeholder="Ingrese la dirección">
  </div>

  <div>
    <label for="email">Correo Electrònic:</label>
    <input type="email" id="email" name="email" th:value="${cliente.email}" placeholder="Ingrese el correo electrónico">
  </div>

  <div th:if="${!visualizar}">
    <button type="submit">Guardar</button>

  </div>
  <a href="/admin/dashboard" class="cancel-button">Cancel·lar</a> <!-- Enlace para regresar -->

</form>

</body>
</html>
