<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenRoad · Factura</title>
</head>
<body>
<h1>Factura</h1>
    <!--<p><strong>Fecha de inicio:</strong> <span th:text="${reserva.dataInici}"></span></p>
    <p><strong>Fecha de fin:</strong> <span th:text="${reserva.dataFinal}"></span></p>
    <p><strong>Estado:</strong> <span th:text="${reserva.estatReserva}"></span></p> -->

   <!-- <p><strong>Precio total:</strong> <span th:text="${reserva.preuComplet}"></span></p> -->
</body>
</html>