<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="login-container">
    <h1>Iniciar Sesión</h1>

    <!-- Mostrar mensaje de error si existe -->
    <div th:if="${errorMsg}" class="alert alert-danger" role="alert">
        <p th:text="${errorMsg}"></p>
    </div>
    <form class="row g-3" th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="nomUsuari">Nombre de Usuario</label>
            <input type="text" id="nomUsuari" name="nomUsuari" placeholder="Ingresa tu usuario" required>
        </div>
        <div class="form-group">
            <label for="contrasenya">Contraseña</label>
            <input type="password" id="contrasenya" name="contrasenya" placeholder="Ingresa tu contraseña" required>
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
        <div class="forgot-password">
            <a href="/registre">Crea un compte</a>
        </div>
    </form>
</div>
</body>
</html>
