<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Cliente</title>
  <link rel="stylesheet" th:href="@{/css/ModificarPerfilAdmin.css}"> <!-- Cambia el enlace al CSS según tu proyecto -->
</head>
<body>

<h1>Editar Reserva</h1>

<!-- Formulario de edición -->
<form th:action="@{/client/edit}" th:object="${reserva}" method="post">
  <!-- Identificador oculto del usuario -->


  <div>
    <label for="idReserva">ID RESERVA</label>
    <input readonly type="text" id="idReserva" name="idReserva" th:value="${reserva.idReserva}">
  </div>

  <div>

    <label for="fechaRecogida">Fecha de recogida:</label>
    <input type="date" id="fechaRecogida" name="fechaRecogida" th:value="${reserva.fechaRecogida}"/>

    <label for="fechaEntrega">Fecha de entrega:</label>
    <input type="date" id="fechaEntrega" name="fechaEntrega" th:value="${reserva.fechaEntrega}"/>
    <label for="Vehicle">Matrícula:</label>
    <input readonly type="text" id="Vehicle" name="Vehicle" th:value="${reserva.vehicle.matricula} "/>
  </div>

  <div>
    <button type="submit">Guardar</button>
    <a href="/client/reserves" class="cancel-button">Cancelar</a> <!-- Enlace para regresar -->
  </div>
</form>

</body>
</html>
