<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="../static/css/registre.css">
</head>
<body>
<form class="row g-3" th:action="@{/registre/new}" th:object="${client}" method="post">
    <div class="col-md-6">
        <label for="dni" class="form-label">DNI</label>
        <input type="text" class="form-control" id="dni" name="dni">
    </div>
    <div class="col-md-6">
        <label for="nom" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nom" name="nom">
    </div>
    <div class="col-md-6">
        <label for="cognom1" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="cognom1" name="cognom1">
    </div>
    <div class="col-md-6">
        <label for="cognom2" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" id="cognom2" name="cognom2">
    </div>
    <div class="col-md-6">
        <label for="numContacte1" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="numContacte1" name="numContacte1">
    </div>
    <div class="col-12">
        <label for="adreca" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="adreca" name="adreca" placeholder="1234 Main St" >
    </div>
    <div class="col-md-6">
        <label for="nomUsuari" class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" id="nomUsuari" name="nomUsuari">
    </div>
    <div class="col-md-6">
        <label for="contrasenya" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contrasenya" name="contrasenya">
    </div>
    <div class="col-md-12">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="col-md-6">
        <label for="reputacio" class="form-label">Estado</label>
        <select id="reputacio" name="reputacio" class="form-select">
            <option value="" selected>Selecciona tu estado...</option>
            <option th:each="estado : ${estados}"
                    th:value="${estado}"
                    th:text="${estado.valor}"></option>
        </select>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="recuerdame" name="recuerdame">
            <label class="form-check-label" for="recuerdame">
                Recuérdame
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>
</body>
</html>
