<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Reserva.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/scripts/infoVehiculo.js" defer></script>
    <script src="/scripts/header.js" defer></script>
    <title>OpenRoad . Vehicle</title>
</head>
<body>
<header class="nav-container">
    <nav class="navbar">
        <div class="logo">
            <a class="logo">
                <img src="/images/otros/logo_openroad.png" alt=" " class="logo-img" width="55px" height="55px">
            </a>
        </div>

        <ul class="nav-links">
            <li><a href="#section1">Inici</a></li>
            <li><a th:href="@{/cataleg}">Catàleg</a></li>
            <li><a href="#section3">Contacte</a></li>

            <li class="user-menu-container">
                <button class="icono_user">  <!-- Icono de usuario importado desde Bootstrap -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                         class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                    <a class="username" th:if="${isLogged}" th:text="${nomUsuari}"></a>
                </button>

                <!-- Menú desplegable per defecte -->
                <div th:if="${!isLogged}" class="dropdown-menu">
                    <a th:href="@{/login}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                        Login
                    </a>

                    <a th:href="@{/registre}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                        </svg>
                        Registre
                    </a>
                </div>

                <!-- Menú desplegable -->
                <div th:if="${isLogged}" class="dropdown-menu">
                    <a th:href="@{/}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                        Perfil
                    </a>

                    <a th:href="@{/logout}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                        </svg>
                        Tancar sessió
                    </a>
                </div>

                <!-- Script en JS per interactuar amb el botó d'usuari -->
                <script>
                    // Obtener el contenedor del menú de usuario
                    const userButton = document.querySelector('.icono_user');
                    const userMenu = document.querySelector('.user-menu-container');

                    // Agregar evento para mostrar/ocultar el menú al hacer clic en el icono
                    userButton.addEventListener('click', (event) => {
                        userMenu.classList.toggle('active'); // Añadir o quitar la clase 'active'
                        event.stopPropagation(); // Prevenir que el clic se propague y cierre el menú
                    });

                    // Cerrar el menú si se hace clic fuera de él
                    document.addEventListener('click', (event) => {
                        if (!userMenu.contains(event.target)) {
                            userMenu.classList.remove('active'); // Cerrar el menú si el clic está fuera
                        }
                    });
                </script>

            </li>
        </ul>
    </nav>
</header>


<div class="container">
    <div class="left-panel">
        <img th:src="${vehicle.imageUrl}" alt="Imagen de ${vehicle.nombre}">
        <h3 class="nombre-coche" th:text="${vehicle.marca + ' ' + vehicle.model}"></h3>
        <div class="details">
            <div>
                <i class="fa-solid fa-user"></i>
                <span th:text="${vehicle.places.getValor()}"></span>
            </div>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="30" height="30">
                    <!-- Contorno de la puerta -->
                    <path d="M40 100 Q40 50 100 40 H160 Q180 40 180 60 V150 Q180 170 160 170 H60 Q40 170 40 150 Z"
                          fill="black" stroke="black" stroke-width="2"/>

                    <!-- Ventana -->
                    <path d="M50 100 Q50 70 100 60 H150 Q160 60 160 80 V100 H50 Z" fill="white"/>

                    <!-- Manija -->
                    <rect x="130" y="120" width="20" height="6" rx="3" ry="3" fill="white"/>
                </svg>
            <p th:text="${vehicle.portes.getValor()}">
            </p>
            <div>
                <i class="fa-solid fa-gear"></i>
                <span th:text="${vehicle.caixaCanvis.getValor()}"></span>
            </div>
            <div>
                <i class="fa-solid fa-gas-pump"></i>
                <span th:text="${vehicle.combustible.getValor()}"></span>
            </div>
        </div>
        <!-- Comentaris -->
        <div class="rating">
            <div th:each="comentari : ${comentaris}" class="coment-box" data-id="${comentari.idComentari}">
                <div class="dades-client">
                    <p class="nomcognomCom" th:text="${comentari.nomClient} + ' ' + ${comentari.cognom1Client}"></p>
                    <p class="nomUserCom" th:text="'@' + ${comentari.nomUsuariClient}"></p>
                </div>
                <div class="dades-comentari">
                    <p class="dataCom" th:text="${comentari.dataComentari}"></p>
                    <p class="titolCom" th:text="${comentari.titolComent}"></p>
                    <p class="msstgCom" th:text="${comentari.missatgeComentari}"></p>
                    <div class="recCom" th:if="${comentari.recomanacio}">
                        <p>Recomanat!</p>
                    </div>
                </div>
                <div class="est-comentari">
                    <div class="stars" data-valoracio="${comentari.valoracio}">
                        <span class="fa fa-star" th:each="i : ${#numbers.sequence(1, 5)}"
                              th:classappend="${i <= comentari.valoracio} ? ' checked' : ''"></span>
                    </div>
                    
                </div>
                <div class="likes-comentari">
                    <div class="icon-likes">
                        <i id="likeButton" class="fa-solid fa-thumbs-up likeButton"></i>
                        <p id="likeCounter" class="likesCom likeCounter" th:text="${comentari.like}"></p>
                    </div>
                    <div class="icon-likes">
                        <i id="dislikeButton" class="fa-solid fa-thumbs-down dislikeButton"></i>
                        <p id="dislikeCounter" class="disLikesCom dislikeCounter" th:text="${comentari.disLike}"></p>
                    </div>

                    <form class="likeForm" th:action="@{/modificarLikes}" method="post" style="display: none;">
                        <input type="hidden" name="idComentari" th:value="${comentari.idComentari}" />
                        <input type="hidden" name="matricula" th:value="${vehicle.matricula}" />
                        <input type="hidden" name="likes" class="likesInput" value="0" />
                        <input type="hidden" name="dislikes" class="dislikesInput" value="0" />
                        <button type="submit" style="display: none;"></button>
                    </form>
                </div>

            </div>
            <a href="/comentariForm">Comentari</a>
        </div>
    </div>

    <div class="right-panel">
        <div class="section">
            <h3>PREU LLOGUER + SEGUR</h3>
            <form th:action="@{/processForm}" th:object="${reserva}" method="post" enctype="multipart/form-data">
                <div class="fechas">
                    <!-- Grupo de fechas -->
                    <div class="column">
                        <label for="fechaRecogida">Fecha de Recogida:</label>
                        <input type="date" id="fechaRecogida" name="fechaRecogida">
                    </div>
                    <div class="column">
                        <label for="fechaEntrega">Fecha de Entrega:</label>
                        <input type="date" id="fechaEntrega" name="fechaEntrega">
                    </div>

                    <!-- Grupo de horas -->
                    <div class="column">
                        <p>Hora recollida</p>
                        <select id="horaRecogida">
                            <option value="" disabled selected>Selecciona una hora</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                        </select>
                    </div>
                    <div class="column">
                        <p>Hora entrega</p>
                        <select>
                            <option value="" disabled selected>Selecciona una hora</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                        </select>
                    </div>
                </div>
            <div class="price-details">
                <p>
                    <span><strong>Preu per día:</strong></span>
                    <span id="preuDia" th:text="${vehicle.preuDia + ' €'}"></span>
                </p>
                <p><strong>Número de días:</strong> <span id="diasReserva">0</span></p>

                <p>
                    <span><strong>Preu fiança:</strong></span>
                    <span id="precioFianza" th:text="${vehicle.fianca + ' €'}"></span>
                </p>
                <p>
                    <span><strong>Total:</strong></span>
                    <span id="precioTotal"></span>
                </p>
            </div>
            <div class="container">
                <!-- Datos del conductor -->
                <section class="conductor-section">
                    <h3>Dades del conductor</h3>
                    <div class="conductor-details">


                            <!-- Datos del Cliente -->
                            <label for="nom">Nom</label>
                            <input type="text" th:field="*{client.nom}" placeholder="Nom" readonly>

                            <label for="cognom1">Cognom</label>
                            <input type="text" th:field="*{client.cognom1}" placeholder="Cognom" readonly>

                            <label for="email">E-mail</label>
                            <input type="email" th:field="*{client.email}" placeholder="E-mail" readonly>

                            <label for="telefono">Número de telèfon</label>
                            <input type="tel" th:field="*{client.numContacte1}" placeholder="Número de telèfon"readonly >

                            <!-- Checkbox para aceptar términos -->
                            <div class="terms">
                                <input type="checkbox" id="terms" >
                                <label for="terms">
                                    He llegit els <a href="/docs/terminos_y_condiciones.txt" target="_blank">Termes i
                                    condicions</a> de la reserva, nota legal i privacitat.
                                </label>
                            </div>


                            <!-- Métodos de pago -->
                            <section class="payment-section">
                                <h3>Metodes de pagament</h3>
                                <div class="payment-details">
                                    <label for="nombre-tarjeta">Nom Tarjeta</label>
                                    <input type="text" id="nombre-tarjeta" placeholder="Paco Martínez Martínez"
                                           >

                                    <label for="numero-tarjeta">Nº tarjeta</label>
                                    <input type="text" id="numero-tarjeta" placeholder="1234 1234 1234 1234"
                                           maxlength="19" >

                                    <label for="fecha-caducidad">Data caducitat</label>
                                    <input type="text" id="fecha-caducidad" placeholder="05/2025" >

                                    <label for="cvv">CVV</label>
                                    <input type="text" id="cvv" placeholder="123" maxlength="3" >
                                    <input type="hidden" id="preuComplert" name="preuComplert" value=""/>
                                    <input type="hidden" name="matricula2" th:value="${vehicle.matricula}"/>
                                </div>
                            </section>

                            <!-- Botón de pago -->
                            <div class="pay-button">
                                <button type="submit" class="btn btn-primary">Pagar</button>
                            </div>

                        </form>
                    </div>
                </section>
            </div>
        </div>


    </div>
</div>

</body>
</html>